<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.aillen.shopmall">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 手机定位信息，用来为语义等功能提供定位，提供更精准的服务 -->
    <!-- 定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.splash.MainActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".module.splash.SplashActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.store.StoreActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".module.detail.DetailActivity">
        </activity>
        <activity android:name=".module.commen.CommentListActivity">
        </activity>
        <activity
            android:name=".module.login.LoginActivity"
            android:label="@string/title_activity_login">
        </activity>
        <activity android:name=".module.login.RegisterActivity">
        </activity>
        <activity android:name=".module.user.UserInfoActivity">
        </activity>
        <activity android:name=".module.user.UpdateUserInfoActivity">
        </activity>
        <activity android:name=".module.user.AddressListActivity">
        </activity>
        <activity android:name=".module.user.AddAddressActivity">
        </activity>
        <activity android:name=".module.order.OrderActivity">
        </activity>
        <activity
            android:name=".module.order.OrderDetailActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".module.pay.PayActivity">
        </activity>
        <activity android:name=".module.order.EvaluateActivity">
        </activity>
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/PhotoPickerTheme"/>
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/PhotoPickerTheme"/>
        <activity
            android:name=".module.disvocery.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".module.love.LoveActivity">
        </activity>
        <activity android:name=".module.detail.ConfirmOrderActivity">
        </activity>
        <activity android:name=".module.card.CardActivity">
        </activity>
        <activity android:name=".module.collection.CollectionActivity">
        </activity>
        <activity android:name=".module.scan.ScanRecordActivity">
        </activity>
        <activity android:name=".module.service.ServiceActivity">
        </activity>
        <activity android:name=".module.feedback.FeedbackActivity">
        </activity>
        <activity android:name=".module.WebActivity">
        </activity>
        <activity android:name=".module.QRcodeActivity">
        </activity>
        <activity android:name=".module.SearchActivity">
        </activity>
    </application>

</manifest>